<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" verbose="1">
    <listeners>
        <listener class-name="com.restoreSkill.Automation.listeners.RetryListener"/>
        <listener class-name="com.restoreSkill.Automation.listeners.TestNgLoggingListener"/>
    </listeners>
    <test name="UI Tests">
        <classes>
            <class name="com.restoreSkill.Automation.tests.LoginTest"/>
            <class name="com.restoreSkill.Automation.tests.LoginAdmin"/>
        </classes>
    </test>
</suite>
